@import 'normalize.css';

$large-desktop: 1169px;
$desktop: 979px;
$tablet: 767px;

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

* {
  box-sizing: border-box;
}

body {
  background: #f5f7f9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#profile {
  margin: 0 auto;
  width: 1170px;

  @media (max-width: $large-desktop) {
    width: 100%;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }

  .profile__header {
    background: #fff;
    box-shadow: 1px 0 6px rgba(113, 125, 135, 0.28);
    padding: 22px 22px 0 22px;
    position: relative;

    @media (max-width: $desktop) {
      background: #f5f7f9;
      padding: 30px 30px 0 20px;
    }
    
    .profile__logout-button {
      border: 1px solid #018dfd;
      color: #018dfd;
      font-weight: bold;
      font-size: 12px;
      padding: 12px 22px 10px;
      position: absolute;
        right: 22px;
        top: 22px;
      text-decoration: none;

      @media (max-width: $desktop) {
        border: none;
        float: right;
        padding: 0;
          top: initial;
          right: 30px;
      }
    }
  
    .profile__upload-cover-button {
      border: 1px solid #d0dce7;
      border-radius: 3px;
      cursor: pointer;
      font-size: 15px;
      margin: 54px auto 0;
      padding: 15px 22px;
      width: 232px;

      @media (max-width: $desktop) {
        display: none;
      }
  
      ion-icon {
        color: #cfdbe7;
        font-size: 24px;
        margin-right: 15px;
      }
  
      span {
        color: #3f454a;
        position: relative;
          top: -6px;
      }
    }

    .profile__bio-wrapper {
      font-size: 14px;
      margin-top: -10px;

      @media (max-width: $desktop) {
        margin-top: 50px;
      }

      .profile__picture-wrapper {
        width: 172px;
        float: left;
        z-index: 1;

        @media (max-width: $desktop) {
          float: none;
          width: 100%;
        }

        .profile__picture {
          background: url('/dist/assets/images/profile_image.jpg');
          background-position: left -85px top;
          background-repeat: no-repeat;
          height: 172px;
          position: relative;
          width: 172px;

          @media (max-width: $desktop) {
            background-position: left -110px top;
            background-repeat: no-repeat;
            height: 128px;
            margin: 0 auto;
            width: 128px;
          }
        }
      }

      .profile__bio {
        float: left;
        margin-top: 35px;
        margin-left: 25px;

        @media (max-width: $desktop) {
          color: #3f4549;
          float: none;
          margin-top: 20px;
          margin-left: 0;
        }
      
        .profile__bio-name {
          font-size: 20px;
          margin-bottom: 15px;

          @media (max-width: $desktop) {
            text-align: center;
            width: 100%;
          }
        }

        .profile__bio-location {
          color: #333333;
          margin-bottom: 10px;

          ion-icon {
            font-size: 18px;
          }

          span {
            margin-left: 7px;
            position: relative;
              top: -4px;
          }
        }

        .profile__bio-phone {
          color: #333333;

          ion-icon {
            font-size: 18px;
          }

          span {
            margin-left: 7px;
            position: relative;
              top: -4px;
          }
        }
      }

      .profile__rate {
        color: #727d88;
        float: right;
        margin-top: 34px;

        @media (max-width: $desktop) {
          float: none;
          margin-top: 15px;
        }

        .profile__rate-star {
          float: left;
          font-size: 18px;
          margin-top: -1px;
          margin-right: 25px;

          @media (max-width: $desktop) {
            float: none;
          }

          ion-icon {
            margin-right: 5px;

            @media (max-width: $desktop) {
              color: #007de5;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .profile__rate-total-review {
          float: left;

          @media (max-width: $desktop) {
            float: none;
            padding: 10px 0 0 2px;
          }

          span {
            padding-left: 12px;
          }
        }
      }
    }

    .profile__menu {
      position: relative;

      .profile__menu-list {
        margin: -32px -22px 0 -22px;

        @media (max-width: $desktop) {
          margin: 70px -30px 0 -22px;
        }

        > ul {
          box-shadow: 1px 0 6px rgba(113, 125, 135, 0.28);
          height: 53px;
          list-style: none;
          margin: 0;
          padding: 0 0 0 205px;

          @media (max-width: $desktop) {
            overflow: scroll;
            padding: 0;
            white-space:nowrap;
            width: 100%;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            
            &::-webkit-scrollbar {
              display: none;
            }
          }

          li {
            color: #3f454a;
            cursor: pointer;
            float: left;
            font-size: 15px;

            @media (max-width: $desktop) {
              display: inline;
              float: none;
            }

            &.hidden {
              display: none;
            }

            &.active {
              a {
                position: relative;

                &::after {
                  background: #018dfd;
                  content: "";
                  height: 2px;
                  position: absolute;
                    bottom: 0;
                    left: 0;
                  width: 100%;
                }
              }
            }
            
            a {
              color: inherit;
              display: block;
              margin: 0 15px;
              padding: 18px 0;
              text-decoration: none;

              @media (max-width: $desktop) {
                display: inline-block;
              }
            }
          }
        }
      }

      .profile__followers {
        color: #a5afb7;
        cursor: pointer;
        position: absolute;
          top: 16px;
          right: 0;

        @media (max-width: $desktop) {
            top: -50px;
            right: initial;
            left: -6px;
        }

        &:hover {
          .profile-follower__caption {
            display: block;
          }
        }

        ion-icon {
          font-size: 24px;
          padding-right: 7px;

          @media (max-width: $desktop) {
            padding-right: 2px;
          }
        }

        & > span {
          color: #a6b0b7;
          position: relative;
            top: -6px;

            @media (max-width: $desktop) {
              color: #3f4549;
                top: -8px;
            }

          span {
            color: #3f4549;
            padding-right: 8px;
          }
        }

        .profile-follower__caption {
          display: none;
          background: #fafafa;
          border: 1px solid #CCC;
          padding: 5px 8px;
          margin-top: -70px;
        }
      }
    }
  }

  .profile__body {
    background: #fff;
    height: 616px;
    margin: 30px 0 0 0;

    @media (max-width: $desktop) {
      border-top: 1px solid #cfdbe7;
      border-bottom: 1px solid #cfdbe7;
      height: auto;
      margin: 20px 0 30px;
    }

    .profile__content {
      color: #3f4549;
      display: none;
      padding: 43px 0 0 40px;
      position: relative;

      @media (max-width: $desktop) {
        margin-bottom: 20px;
        padding: 20px;

        &.edited {
          margin-bottom: 50px;

          .profile__mobile-action-edit {
            display: none;
          }

          .profile__mobile-action .profile__mobile-action-button {
            display: block;
          }

          .profile__body-editable-forms {
            margin-top: 0;

            .profile__body-form-group {
              margin-bottom: 0;

              .profile__body-form-text {
                display: none;
              }
  
              .profile__body-form-field {
                background: none;
                border: none;
                display: block;
                padding: 20px 0 5px;
                position: static;
  
                &::after,
                &::before {
                  display: none;
                }
  
                .profile__body-field-action {
                  display: none;
                }

                input {
                  font-size: 16px;
                  padding: 10px 10px 5px 0;
                }

                label {
                  left: 0;
                }
              }
            }
          }
        }
      }

      &.active {
        display: block;
      }

      h2 {
        color: #727d88;
        font-size: 24px;
        font-weight: 400;
        margin: 0;
      }

      .profile__mobile-action {
        display: none;
        float: right;
        position: relative;
          top: -16px;
          right: 0;

        @media (max-width: $desktop) {
          display: block;
        }

        .profile__mobile-action-edit {
          background: #ebf1f5;
          float: right;
          font-size: 16px;
          padding: 5px 7px 4px;
          position: relative;
            top: -8px;
            right: 0;
        }

        .profile__mobile-action-button {
          color: #007de5;
          display: none;
          float: left;

          &.save-button {
            margin-left: 30px;
          }
        }
      }

      .profile__body-editable-forms {
        margin-top: 30px;

        @media (max-width: $desktop) {
          margin-top: 20px;
        }

        .profile__body-form-group {
          display: inline-block;
          position: relative;

          @media (max-width: $desktop) {
            margin-bottom: 20px;
          }
        }
        
        .profile__body-form-text {
          background: #f5f7f7;
          display: inline-block;
          margin: 0 0 3px 0;
          padding: 8px 40px 12px 12px;
          position: relative;

          @media (max-width: $desktop) {
            background: none;
            padding: 0;
          }

          &.name {
            font-size: 16px;
            font-weight: 600;
          }

          ion-icon {
            padding: 0 10px 0 0;
            position: relative;
            top: 3px;
          }

          .profile__body-edit-button {
            background: #ecf0f5;
            color: #727d88;
            cursor: pointer;
            padding: 11px 10px 7px;
            position: absolute;
              top: 0;
              right: -35px;

            @media (max-width: $desktop) {
              display: none;
            }

            &:hover,
            &.active {
              background: #007de5;
              color: #fff;
            }
    
            ion-icon {
              padding: 0;
              font-size: 16px;
              top: initial;
            }
          }
        }

        .profile__body-form-field {
          background: #fff;
          border: 1px solid rgba(113, 125, 135, 0.28);
          border-radius: 3px;
          display: none;
          padding: 20px 20px 20px 20px;
          position: absolute;
            top: -15px;
            right: -300px;
          z-index: 1;

          &::after {
            border-style: solid;
            border-width: 15px 17px 15px 0;
            border-color: transparent #fff transparent transparent;
            content: "";
            height: 0;
            position: absolute;
              top: 20px;
              left: -17px;
            width: 0;
          }

          &::before {
            border-style: solid;
            border-width: 17px 19px 17px 0;
            border-color: transparent rgba(113, 125, 135, 0.28) transparent transparent;
            content: "";
            height: 0;
            position: absolute;
              top: 18px;
              left: -19px;
            width: 0;
          }

          &.active {
            display: inline-block;
          }

          input {
            background: none;
            border: none;
            border-bottom: 1px solid #c6c6c6;
            border-radius: 0;
            color: #333;
            display: block;
            padding: 10px 10px 5px 5px;
            width: 260px;

            &:focus {
              outline: none;
            }

            &:focus ~ label,
            &.dirty ~ label {
              font-size: 11px;
              top: 12px;
            }
          }
          
          label {
            color: #c6c6c6;
            font-size: 13px;
            font-weight: normal;
            pointer-events: none;
            position: absolute;
              left: 25px;
              top: 30px;
            transition: 300ms ease all;
          }

          .profile__body-field-action {
            @extend .group;
            

            .profile__body-action-button {
              border: 1px solid #007de5;
              border-radius: 3px;
              color: #007de5;
              cursor: pointer;
              float: left;
              font-weight: 700;
              margin: 20px 0 0 0;
              padding: 10px 25px;

              &.save-button {
                background: #007de5;
                color: #fff;
                margin-right: 20px;
              }
            }
          }

        }
      }

    }
  }
}

#logout-modal {
  background: #fafafa;
  border: 1px solid #CCC;
  margin: 0 auto;
  padding: 20px 15px;
  position: absolute;
    top: 40%;
    right: 0;
    left: 0;
  width: 300px;

  h3 {
    margin: 0 0 20px 0;
  }

  .logout-modal__footer {

    a {
      float: left;
      margin: 0 10px 0 0;
      padding: 0 10px;
    }
  }
}

#modal-backdrop {
  background: rgba(0,0,0, 0.5);
  display: none;
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 5;

  &.active {
    display: block;
  }
}

.profile__list-window-aware {
  display: none !important;

  ul {
    display: none;
    position: absolute;

    &.visible {
      display: block;
    }

    li {
      display: none;
      float: none !important;

      &.visible {
        display: block;
      }
    }
  }

  &.visible {
    display: block !important;
  }
}